html, body {
    height: 100%;
    background-color: black;
}


#formDiv-2 {
    margin-top: 2em;
}

#edit-movie {
    margin-top: 1em;
}
#body{
    background-color: black;
}
#options-container {

}
#bootStrapContainer{
    margin-top: 5em;
}
.input{
    background-color: #6c757d;
}
